body {
  background-image: url('../photo.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
body *{
  border: 1px dotted orange;

}
img {
  width: 100%
}

h1{
  font-size: 30px;
  font-style: italic
}
h2 {
  font-size: 50px;
}

p{
  color:rgb(199, 241, 7);
  font-size: 20px;
}

ul {
  margin: 50px;
  list-style: square;
}

ol {
  margin: 50px;
  list-style: decimal;
}

footer{
  bottom: 0;
  position: absolute;
  margin: 15px;
}