body {
  background-color: black;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body *{
  margin: 5px 30px;
  padding: auto;

}

h1 {
  font-size: 40px;
  color: cadetblue;
}

h2 {
  font-size: 25px;
  color: lightsteelblue;
  font-style: italic
}

p {

  color:rgb(199, 241, 7);
  font-size: 20px;
}


img {
  width: 300px; 
  margin: 10px;
}

ul {
  margin: 20px;
  list-style: square;
  color: skyblue;
}


ol {
  margin: 20px;
  list-style: decimal;
  color: skyblue;
}
